*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.box {
    
    width: 200px;
    height: 150px;
    background-color: #ccc;
    margin: 10px;
    text-align: center;
    display: inline-block;
}
.box3, .box4 {
    /* Fiz isto apenas para mostrar como chamar duas class em uma mesma regra*/
    width: 200px;
    height: 150px;
    background-color: #ccc;
    margin: 10px;
    text-align: center;
    display: inline-block;
}

.h2{
    padding: 10px;
    margin-bottom: 10px;
    /* Float também serve para  que o conteudo nao herde flutuações, podemos utilizar a propriedade clear no primeiro elemento*/
    float: left;
    clear: both; /*Limpa esquerda e direita*/
}

#h2-text{
    margin: 10px;
    padding: 3px;
}

#botoes{
    text-decoration: none;
    margin: 10px;
    padding: 2px;
    border: 2px solid black;
    color: white;
    background-color: blueviolet;
}
