* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

html {
    font-size: 62.5%;
}

body {
    padding: 1rem;
    font-size: 1.6rem;
}

.container {
    margin: 1rem auto;
    text-align: center;
    display: grid;
    grid-template-columns: 3, 1fr;
    grid-template-rows: 12vh 70vh 10vh;/* <-- define a altura de três linhas consecutivas em um contêiner de grade (grid),
                                        usando a unidade vh (viewport height - altura da área de visualização). */

    grid-template-areas: "header header"
                        "main aside"
                        "footer footer"
    ;

    
    gap: 1rem;
}
.header{
    background-color: #333;
    grid-column-start: 1; /*Define de onde a coluna começa*/
    grid-column-end: 3; /*Define de onde a coluna acaba */
    /* grid-column: 1/3; faz a mesmma coisa que os de cima porém em uma linha*/

    /* grid-area: header; */
    
}
.main{
    background-color: #666;
    grid-column-start: 1;
    grid-column-end: 2;
}
.aside{
    background-color: #999;
    grid-column-start: 2;
    grid-column-end: 3;
}
.footer{
    background-color: #666;
    grid-column-start: 1;
    grid-column-end: 3;
}