*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html{
    font-size: 62.5%;
}

body{
    font-size: 1.6rem;
}

.container{
    height: 200vh;
    padding: 2rem;
    display: grid;
    grid-template-columns: repeat(3, 200px);
    grid-template-rows: repeat(3,200px);
    border: 1px solid black;
}

.box{
    border: 1px solid #333;
    background-color: #999;
    min-height: 5rem;
}
