@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@300&amp;display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Catamaran', sans-serif;
    background-color: #e6e6e6;
}
section {
    width: 80%;
    height: 10%;
    background-color: #999;
    display: flex;
    justify-content: center;
    margin: 20px;
    padding: 10px;
}
div {
    display: flex;
    justify-content: space-around;
    width: 50%;
}
a{
    text-decoration: none;
    color: #fff;
    background-color: #333;
    padding: 5px 20px;
    border-radius: 5px;
}

p {
    width: 43%;
    display: flex;
    text-align: center;
    margin: 20px auto;
    font-size: 18px;
    font-weight: 600;
    color: red;
}